html{
	font-family: "Nunito", sans-serif ;
	background-color: bisque;
}

#main{
	margin: 2rem;
	padding: 1rem;
	text-align: center;
}

#image{
	position: relative;
	left: 150px;
}

figcaption{
	position: relative;
	left: 300px;
}

#galileo-tribute{
	margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background-color: aliceblue ; 
}

#head-info{
	text-align: center;
}

footer{
	margin: 2rem;
	padding: 1rem;
	text-align: center;
}
a{
	cursor: pointer;
	transition: .3s;
}
a:hover{
	color: orange;  /*Effect on the link*/
}

#request-email{
	position: relative;
	left: 480px;
	margin: 30px 8px;
	padding: 15px;
	border-radius: 5px;
}

#submit-button{
	background-color: goldenrod;
	position: relative;
	left: 130px;
	top: 20px;
	cursor: pointer;
	transition: 0.3s;
}
#submit-button:hover{
	color:aqua;
}